@using Microsoft.AspNetCore.Identity
@using Ribosoft.Models

@inject SignInManager<ApplicationUser> SignInManager

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Ribosoft</title>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>
<body class="bg-light">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="/img/logo.svg" height="30" alt="Ribosoft">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item" is-active-route asp-controller="Request" asp-action="Index">
                            <a asp-controller="Request" asp-action="Index" class="nav-link">New request</a>
                        </li>
                        <li class="nav-item" is-active-route asp-controller="Jobs">
                            <a asp-controller="Jobs" asp-action="Index" class="nav-link">Jobs</a>
                        </li>
                        <li class="nav-item" is-active-route asp-controller="Ribozymes">
                            <a asp-controller="Ribozymes" asp-action="Index" class="nav-link">Ribozymes</a>
                        </li>
                        if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item" is-active-route asp-controller="Assemblies">
                                <a asp-controller="Assemblies" asp-action="Index" class="nav-link">Assemblies</a>
                            </li>
                        }
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content" role="main">
        @RenderBody()
    </div>

    <footer class="container">
        <p class="text-muted">&copy; 2020 - Ribosoft</p>
    </footer>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
