@using Microsoft.AspNetCore.Identity
@using Ribosoft.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item" is-active-route asp-controller="Manage">
            @if (User.IsInRole("Guest"))
            {
                <span class="nav-link">Hello Guest!</span>
            }
            else
            {
                <a asp-controller="Manage" asp-action="Index" title="Manage" class="nav-link">Hello @UserManager.GetUserName(User)!</a>
            }
        </li>
        <li class="nav-item" is-active-route asp-controller="Account" asp-action="Logout">
            <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                <button type="submit" class="btn btn-link nav-link border-0">Log out</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link">Register</a></li>
        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Log in</a></li>
    </ul>
}
