@model Ribosoft.Models.JobState

@if (Model == JobState.Completed)
{
    <span class="badge badge-success">Completed</span>    
}
else if (Model == JobState.Cancelled)
{
    <span class="badge badge-secondary">Cancelled</span>        
}
else if (Model == JobState.Errored)
{
    <span class="badge badge-danger">Errored</span>        
}