<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>          
          <Exclude>[Ribosoft.Tests*]*,[*]Ribosoft.Blast.*,[*]Ribosoft.Controllers.*,[*]Ribosoft.Data.*,[*]Ribosoft.Extensions.*,[*]Ribosoft.Jobs.*,[*]Ribosoft.Services.*,[*]Ribosoft.Resources.*,[Ribosoft.Views]*</Exclude>
          <Include>[Ribosoft*]*</Include>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>