[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=6.0,<7.0"
click-log = "<0.3,>=0.2"
colorama = ">=0.3,<0.4"
requests = "<2.19,>=2.18"
enum34 = ">=1.1,<1.2"

[dev-packages]

[requires]
python_version = "3.8"
