@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-page text-vertical-center">
    <h1>Welcome to Ribosoft</h1>
    <h2>A Web Service for Cleaving Ribozyme Design</h2>
    <br>

    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
</div>