@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-page d-flex flex-column justify-content-center">
    <div class="helix"></div>
    <h1 class="display-1">Welcome to <strong>Ribosoft</strong></h1>
    <h2>A web service for designing cleaving ribozymes</h2>
</div>