@model Ribosoft.Models.RibozymeViewModel.RibozymeCreateViewModel

@{
    ViewData["Title"] = "Create Ribozyme";
}

<h2 class="my-3">Create a ribozyme</h2>

<form asp-action="Create">
    <div class="card my-3 box-shadow">
        <div class="card-body">        
            <h5 class="card-title border-bottom border-gray pb-2 mb-3">Basic information</h5>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-0">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <div class="card my-3 box-shadow">
        <div class="card-body">        
            <h5 class="card-title border-bottom border-gray pb-2 mb-3">Structure</h5>

            <h6 class="my-3">Ribozyme</h6>

            <div class="form-group row">
                <label asp-for="Sequence" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Sequence" class="form-control" />
                    <span asp-validation-for="Sequence" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Structure" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Structure" class="form-control" />
                    <span asp-validation-for="Structure" class="text-danger"></span>
                </div>
            </div>
            
            <h6 class="my-3">Substrate</h6>
            <div class="form-group row">
                <label asp-for="SubstrateTemplate" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubstrateTemplate" class="form-control" />
                    <span asp-validation-for="SubstrateTemplate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SubstrateStructure" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubstrateStructure" class="form-control" />
                    <span asp-validation-for="SubstrateStructure" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Cutsite"></label>
                <input asp-for="Cutsite" class="form-control" />
                <span asp-validation-for="Cutsite" class="text-danger"></span>
            </div>
            <div class="form-group mb-0">
                <div class="checkbox">
                    <label>
                        <input asp-for="PostProcess" /> @Html.DisplayNameFor(model => model.PostProcess)
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <a class="btn btn-secondary float-md-left" asp-controller="Ribozymes" asp-action="Index"><i class="fas fa-arrow-left mr-1"></i> Cancel</a>
        <input type="submit" value="Create" class="btn btn-primary float-md-right" />
    </div>   
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
