@model Ribosoft.Models.Ribozyme

@{
    ViewData["Title"] = "Edit Ribozyme";
}

<h2 class="my-3">Edit ribozyme</h2>

<form asp-action="Edit">
    <div class="card my-3 box-shadow">
        <div class="card-body">
            <h5 class="card-title border-bottom border-gray pb-2 mb-3">Basic information</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-0">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <a class="btn btn-secondary float-md-left" asp-action="Details" asp-route-id="@Model.Id"><i class="fas fa-arrow-left mr-1"></i> Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary float-md-right" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
