@{
    ViewData["Title"] = "Locked out";
}

<h2 class="my-3">@ViewData["Title"]</h2>

<div class="card box-shadow my-3">
    <div class="card-body">
        <p>
            This account has been locked out, please try again later.
        </p>
    </div>
</div>
