@model Ribosoft.Models.RibozymeStructure

@{
    ViewData["Title"] = "Edit Ribozyme Structure";
}

<h2 class="my-3">Edit ribozyme structure</h2>

<form asp-action="Edit">
    <div class="card my-3 box-shadow">
        <div class="card-body">
            <h5 class="card-title border-bottom border-gray pb-2 mb-3">Ribozyme structure</h5>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RibozymeId" />

            @Html.EditorForModel()
        </div>
    </div>

    <div class="clearfix">
        <a class="btn btn-secondary float-md-left" asp-controller="Ribozymes" asp-action="Details" asp-route-id="@Model.RibozymeId"><i class="fas fa-arrow-left mr-1"></i> Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary float-md-right" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
