@model Ribosoft.Models.RibozymeStructure

@{
    ViewData["Title"] = "Edit Ribozyme Structure";
}

<h2>Edit Ribozyme Structure</h2>

<h4>Ribozyme Structure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RibozymeId" class="control-label"></label>
                <select asp-for="RibozymeId" class="form-control" asp-items="ViewBag.RibozymeId"></select>
                <span asp-validation-for="RibozymeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cutsite" class="control-label"></label>
                <input asp-for="Cutsite" class="form-control" />
                <span asp-validation-for="Cutsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sequence" class="control-label"></label>
                <input asp-for="Sequence" class="form-control" />
                <span asp-validation-for="Sequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Structure" class="control-label"></label>
                <input asp-for="Structure" class="form-control" />
                <span asp-validation-for="Structure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubstrateTemplate" class="control-label"></label>
                <input asp-for="SubstrateTemplate" class="form-control" />
                <span asp-validation-for="SubstrateTemplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubstrateStructure" class="control-label"></label>
                <input asp-for="SubstrateStructure" class="form-control" />
                <span asp-validation-for="SubstrateStructure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PostProcess" /> @Html.DisplayNameFor(model => model.PostProcess)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
