@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 class="my-3">Manage your account</h2>

<div class="row my-3">
    <div class="col-md-3">
        <div class="card card-body box-shadow">
            @await Html.PartialAsync("_ManageNav")
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
