@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

@await Html.PartialAsync("_StatusMessage", Model.vm.StatusMessage)

<form method="post">
    <div class="card box-shadow">
        <div class="card-body">
            <h5 class="card-title border-bottom border-gray pb-2 mb-3">@ViewData["Title"]</h5>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.NewPassword"></label>
                <input asp-for="vm.NewPassword" class="form-control" />
                <span asp-validation-for="vm.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.ConfirmPassword"></label>
                <input asp-for="vm.ConfirmPassword" class="form-control" />
                <span asp-validation-for="vm.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="my-3">
        <button type="submit" class="btn btn-primary">Update password <i class="fas fa-check ml-1"></i></button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
