@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

<form method="post">
    <div class="card box-shadow">
        <div class="card-body">
            <h5 class="card-title border-bottom border-gray pb-2 mb-3">@ViewData["Title"]</h5>

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <div class="input-group-append">
                            <span class="input-group-text">Verified <i class="fas fa-check ml-1"></i></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control">
                        <div class="input-group-append">
                            <a asp-action="SendVerificationEmail" class="btn btn-primary" type="button">Send verification email</a>
                        </div>
                    </div>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="my-3">
        <button type="submit" class="btn btn-primary">Save <i class="fas fa-check ml-1"></i></button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
