@{
    ViewData["Title"] = "Request Design Page";
}

<div class="container body-content" id="app">
    <h2>@ViewData["Title"]</h2>
    <hr/>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sequence Selection</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="ribo-type">Ribozyme Structure:</label>
                <select id="ribo-type" class="form-control">
                    <option v-for="ribozyme in ribozymes">{{ ribozyme }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Input Sequence:</label>
                <textarea class="form-control" rows="10" id="inputSequence">
                </textarea>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Regions for Target Design</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox" v-for="region in targetRegions">
                <label><input type="checkbox" value="">{{ region }}</label>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Target Environment</h3>
        </div>
        <div class="panel-body">
             <div class="form-group">
                <label for="targetEnvironment">Environment:</label>
                <select id="targetEnvironment" class="form-control">
                    <option v-for="environment in targetEnvironments">{{ environment }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="targetEnvironmentMethod">Method:</label>
                <div id="targetEnvironmentMethod">
                    <div class="radio" v-for="method in targetEnvironmentMethods">
                        <label><input type="radio" name="optradio">{{ method }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Environment Properties</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" v-for="v in targetEnvironmentVariables">
                <label v-bind:for="v.id">{{ v.variable+" ("+v.unit+")" }}:</label>
                <input v-bind:id="v.id" type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Potential Cut Sites</h3>
        </div>
        <div class="panel-body">            
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Specificity</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="specificityMethod">Method:</label>
                <div id="specificityMethod">
                    <div class="radio" v-for="method in specificityMethods">
                        <label><input type="radio" name="optradio">{{ method }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <!---<form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Check me out
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>-->
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Request/request.js"></script>
}