html, body {
    height: 100%;
}

[v-cloak] {
    display: none !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

/* Landing page elements */
.landing-page {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/concordia-1.jpg");
    color: white;
}

.landing-page h1 {
    font-size: 5em;
}

.landing-page h2 {
    font-size: 3em;
}

.landing-page .btn {
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    border-color: white;
}

/* Request design form panels */
.panel h3:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading h3.collapsed:after {
    content:"\e080";
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05)
}

.card-body .table tr:first-child td {
    border-top: 0;
}

.cover-page {
    height: 100vh;
    margin-top: -20px;
    overflow: hidden;
}

.showMore {
    font-size: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    width: 100%;
}

.showMore + input {
    display: none;
}

.showMore + input + * {
    max-height: 0;
    /*and eventually delay an overflow:auto; */
    overflow: hidden;
    transition: max-height 0.5s, overflow 0s;
}

.showMore + input:checked + * {
    /* here comes the compromise, set a max-height that would for your usual contents*/
    max-height: 30em;
    overflow: hidden;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
}

.helix {
    position: fixed;
    height: 382px;
    width: 188px;
    top: 50%;
    left: 50%;
    margin-left: -94px;
    margin-top: -191px;
    z-index: -1;
    background: url("../images/helix.svg") 0 0 repeat-y;
    transform: rotate(30deg) scale(6);
    opacity: 0.3;
    overflow: hidden;
}

tr.clickable-row {
    cursor: pointer;
}

tr.clickable-row.selected {
    background-color: rgba(135, 206, 250, 0.3);
}

.mb-2 {
    margin-right: 0.5em;
}

.dropdown-item.disabled {
    pointer-events: none;
}

input.dropdown-item {
    outline: 0;
    cursor: pointer;
}

.evo-lBold, .evo-lLight {
    font-size: 0.875rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ui-button {
    border-radius: 0.2rem !important;
    padding: 0.4rem 0.6rem !important;
}

.disabled-link {
    pointer-events: none;
}

.no-height {
    min-height: 0 !important;
}

option[value="null"], option[value="nn"] {
    display: none;
}

.fa-sort {
    color: rgba(0, 123, 255, 0.5);
    margin-left: 10px;
}

.fa-sort-up, .fa-sort-down {
    color: rgba(0, 123, 255, 1);
    margin-left: 10px;
}

div.sortable {
    cursor: pointer !important;
}

.ribozyme-structure {
    background-color: whitesmoke;
}

line.pseudoknot {
    stroke: blue !important;
}

svg[data-prefix="fas"] {
    min-width: unset !important;
    min-height: unset !important;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border-color: gray;
    border-style: solid;
    margin: 7px 10px 0;
}

.dot-orange {
    background-color: orange;
}

.dot-white {
    background-color: white;
}

.dot-red {
    background-color: red;
}

.dot-green {
    background-color: black;
}

.line {
    border-left: 6px solid;
    height: 25px;
    margin: 0 10px 0 100px;
}

.line-red {
    border-color: red;
}

.line-blue {
    border-color: blue;
}

.line-grey {
    border-color: grey;
}

#plotting-area {
    height: 500px !important;
    width: 750px !important;
}

#plotting-area > g > g:nth-child(2) {
    transform: scale(1.5,1.5) translate(90px, 125px);
}

path.node {
    display: none !important;
}

rect.background {
    width: 750px !important;
    height: 500px !important;
}